//Chat Header
.flexRightHeader {
    position: sticky;
    z-index: 3;
    top: 0px;
    background-color: white;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    padding: 10px 16px;
    width: 100%;
    @include flexbox($display: flex, $alignItems: center, $justifyContent: space-between);    
}
.docHeader .flexRightHeader {
    box-shadow: none;
}
.section_left {
    @include flexbox($display: flex, $alignItems: center);
    .chatAvatar {
        height: 36px;
        width: 36px;
        border-radius: 100px;
        object-fit: cover;
    }
    .chatUserName {
        margin-left: 10px;
        @include typography($color: $black2, $weight:7, $size: 17px);
    }
}
.section_right {
    @include flexbox($display: flex, $alignItems: center, $justifyContent: center, $columnGap: 10px);
}
.headerActionIcon {
    @include flexbox($display: flex, $alignItems: center, $justifyContent: center);
    padding: 10px;
    border-radius: 100px;
    border: 1px solid $black4;
    @include transition;
    cursor: pointer;
    &:hover {
        background-color: $primary;
        border: 1px solid $primary;
        color: white;
        @include transition;
    }
}

//Chat Content
.chatContent {
    overflow-y: auto;
    flex:auto;
    @include scroll_hover;
    padding: 16px;
}
.chat_container {
    height: 100%;
    display: flex;
    margin: 0;
	flex-flow: column nowrap;
}
.chat_fixed {
    flex:none;
}

//Chat Type Section
.chat_type_inner {
    // padding: 6px;
    border-radius: 8px;
    flex:none;
    background: white;
}
.chat_style {
    .ql-toolbar.ql-snow {
        border: none;
    }
    .ql-container.ql-snow {
        border: none;
        max-height: 300px;
        overflow: auto;
    }
    // .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    .ql-toolbar .ql-stroke {
        fill: none;
        stroke: $black4;
    }
    .ql-toolbar .ql-fill {
        fill: $black4;
        stroke: none;
    }
    .ql-toolbar .ql-picker {
        color: $black4;
    }
}
.chatTypeContainer {
    padding: 16px;
}
.emojiPicker {
    position: absolute;
    bottom: 50px;
}
.toolbar_item {
    width: fit-content;
    @include flexbox($display: flex, $alignItems: center);
    color: $black4;
    cursor: pointer;
    &:hover {
        color: #06c;
    }
    svg {
        font-size: 16px;
    }
}
.footer_toolbar {
    @include flexbox($display: flex, $columnGap: 16px, $alignItems: center);
    margin: 8px;
    padding: 0px 6px;
    padding-bottom: 8px;
}
.suggested_chats {
    @include flexbox($display: flex, $columnGap: 12px, $alignItems: center, $justifyContent: flex-end);
    margin-bottom: 10px;
    .suggested_chip {
        border-radius: 100px;
        @include flexbox($display: flex, $alignItems: center);
        border: 1px solid #C4C7FF;
        background-color: white;
        color: #8288FF;
        padding: 3px 12px;
        font-size: 12px;
        cursor: pointer;
        @include transition;
        &:hover {
            background-color: #ecedff;
        }
    }
}