.menuToolbar {
    padding: 10px 16px;
    border-top: 1px solid rgb(226, 226, 226);
    @include flexbox($display: flex, $alignItems: center, $columnGap: 19px, $rowGap: 19px);
    flex-wrap: wrap;
    font-size: 16px;
}
.docHeader {
    background-color: white;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.07);
    width: 100%;
}
.editorPage {
    background: white;
    width: 80%;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
}
.iconFlex {
    @include flexbox($display: flex);
    cursor: pointer;
    @include transition;
    &:hover {
        color: $primary;
        @include transition;
    }
}
.doc_container {
    padding-bottom: 20px;
}