.menuToolbar {
    padding: 14px 16px;
    border-top: 1px solid rgb(226, 226, 226);
}
.docHeader {
    background-color: white;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.07);
    width: 100%;
}
.editorPage {
    background: white;
    width: 80%;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.08);
}