.searchInput {
    border-radius: 6px !important;
    border: none !important;
    width: 40% !important;
    svg {
        color: lightgrey;
        margin-right: 6px;
    }
}
.featureContainer {
    width: calc(100% - 320px);
}
.featureSubHeader {
    @include flexbox($display: flex, $alignItems: center, $justifyContent: space-between);
}
.actionRow {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 14px);
}
.frameworkRow {
    margin: 30px auto;
    @include flexbox($display: flex, $alignItems: center);
}
.frameworkTagRow {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
    margin-left: 20px;
    .selected {
        background: $primary;
        color: white;
        border: 1px solid $primary;
        @include transition;
        &:hover {
            box-shadow: none;
        }
    }
}
.frameworkTag {
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid lightgray;
    padding: 3px 18px;
    font-size: 13px;
    @include transition;
    &:hover {
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.08);
        @include transition;
    }
}
.requestFormflex {
    @include flexbox($display: flex, $direction: column, $alignItems: left, $rowGap: 30px);
}