.secondarySidebarContainer {
    height: 100vh;
    background: white;
    width: 380px;
    overflow-y: auto;
    @include scroll_hover;
}
.sidebarHeader {
    @include typography($weight: 7, $size: 18px);
    padding: 0px 16px;
    margin-top: 16px;
    @include flexbox($display: flex, $justifyContent: space-between);
}
.sidebarSubhead {
    text-transform: uppercase;
    letter-spacing: 2px;
    @include typography($weight: 7, $color: #B8B8B8, $size: 13px);
    margin-top: 18px;
    margin-bottom: 2px;
    padding: 0px 16px;
}

//Chat
.chatContainer {
    @include optionHover;
    &_avatar {
        height: 40px;
        width: 40px;
        border-radius: 100px;
        object-fit: cover;
    }
    .chatContainer_right {
        width: 100%;
        @include typography($color: #B8B8B8);
        @include flexbox($display: flex, $direction: column, $justifyContent: space-between);
        &_top {
            @include flexbox($display: flex, $justifyContent: space-between);
            @include typography($color: #B8B8B8);
            &_name {
                @include typography($color: $black2, $weight:5);
            }
            &_chatTime {
                @include typography($size: 12px);
            }
        }
        &_text {
            @include typography($color: $black3);
        }
    }
}
.collapseIcon {
    @include typography($color: $black4);
    cursor: pointer;
    @include transition;
    &:hover {
        @include typography($color: $primary);
        @include transition;
    }
}

//Vault
.sec_sidebar_option {
    @include optionHover;
    padding: 14px 8px;
    @include flexbox($display: flex, $justifyContent: start, $alignItems: center);
    svg {
        font-size: 20px;
        margin-right: 4px;
    }
    @include typography($color: $black3, $size: 15px);
}
.optionList {
    @include flexbox($display: flex, $direction: column);
    margin: 16px 0px;
}