.sprintTask {
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    width: 100%;
}
.menuItem {
    @include flexbox($display: flex, $alignItems: center);
    svg {
        margin-right: 14px;
    }
}
.kanbanBody {
    height: inherit;
    overflow: scroll;
    margin-left: 16px;
    margin-top: 16px;
}
.kanbanBoard {
    @include flexbox($display: flex, $alignItems: flex-start, $columnGap: 24px);
    &_section {
        width: 300px;
        border-radius: 10px;
        & ~ & {
            margin-left: 10px;
        }
        &_title {
            margin: 16px auto;
            padding-bottom: 10px;
            .columnName {
                font-weight: 500;
                font-size: 13px;
                text-transform: uppercase;
                margin-right: 10px;
            }
            .taskLength {
                padding: 3px 7px;
                font-size: 13px;
                border-radius: 100px;
                border: 1px solid lightgrey;
            }
        }
        &_content {
            & > * ~ * {
                // margin-top: 18px;
            }
        }
    }   
}
.kanbanActionHeader {
    margin: 12px 16px;
    @include flexbox($display: flex, $alignItems: center, $justifyContent: space-between);    
    .menuItem {
        cursor: pointer;
        svg {
            margin-right: 8px;
            font-size: 17px
        }
        @include transition;
        &:hover {
            color: $primary;
            @include transition;
        }
    }
    & > * ~ * {
        @include flexbox($display: flex, $alignItems: center, $columnGap: 14px);
        button {
            svg {
                font-size: 16px;
            }
        }
    }
}
.kanban_container {
    height: 100vh;
    overflow: hidden;
    .frameworkRow {
        margin: 0px;
    }
}
.boardContainer {
    margin: auto 16px;
    margin-bottom: 80px;
}
.kanbanItem {
    background: white;
    padding: 14px 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    @include transition($property: box-shadow);
    &:hover {
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
        @include transition($property: box-shadow);
    }
    .taskTitle {
        font-weight: 600;
        margin-bottom: 10px;
    }
    .taskDesc {
        margin-bottom: 12px;
        font-size: 13px;
        color: $black4;
    }
    .taskTagRow {
        @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
        padding-bottom: 16px;
        // border-bottom: 1px solid #ededed;
        .taskTag {
            @include flexbox($display: flex, $alignItems: center, $columnGap: 4px);
            cursor: pointer;
            padding: 3px 9px;
            font-size: 12px;
            border-radius: 4px;
            background: #f2f2f2;
            &_bug {
                color: red;
                background-color: hsla(0, 100%, 50%, 0.1);
            }
        }
    }
    .taskFooter {
        @include flexbox($display: flex, $alignItems: center, $justifyContent: space-between);
        margin-top: 6px;
        // @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
        .menuItem {
            color: #c7c7c7;
            svg {
                margin-right: 4px;
                color: #c7c7c7;
            }
        }
        .flex_row_layout {
            column-gap: 14px;
        }
    }
}

.priorityTag {
    @include flexbox($display: flex, $alignItems: center);
    svg {
        font-size: 17px;
        margin-right: 2px;
    }
    font-size: 13px;
}

//Popup
.taskDetailsdPopupHeader {
    @include flexbox($display: flex, $alignItems: flex-start, $justifyContent: space-between);
    margin-bottom: 18px;
    .task_section_left {
        .taskTitle {
            font-weight: 600;
            margin-top: 2px;
            font-size: 20px;
        }
        .taskID {
            color: $black4;
            margin-left: 6px;
        }
    }
}
.task_popup {
    @include gridbox($display: grid, $template: 1.5fr 1fr, $gap: 30px);
    .formLabel {
        @include flexbox($display: flex, $alignItems: center);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 8px;
        svg {
            margin-right: 6px;
        }
    }
}
.task_popup_section_left {
    max-height: 72vh;
    overflow: scroll;
    padding-right: 20px;
    .taskDesc {
        padding: 10px 12px;
        background-color: $greyButtonBackground;
        border-radius: 6px;
        cursor: pointer;
        @include transition;
        &:hover {
            background-color: #ededed;
            @include transition;
        }
    }
    .commentContainer {
        margin-top: 10px;
        .suggested_chats {
            display: none;
        }
        .chatTypeContainer {
            padding: 0px;
        }
        .chat_type_inner {
            background-color: #f8f8f8;
        }
    }
}
.task_popup_section_right {
    @include flexbox($display: flex, $direction: column, $rowGap: 22px);
}
.inlineForm{
    @include flexbox($display: flex, $alignItems: center);
    .formLabel {
        margin-bottom: 0px;
        margin-left: 6px;
        margin-right: 16px;
        width: 170px;
        font-size: 13px;
        font-weight: 500;
    }
    & > * ~ * {
        width: 100%;
    }
    .storyInfo {
        margin-left: 10px;
        color: $black4;
        @include flexbox($display: flex, $alignItems: center);
        svg {
            margin-right: 4px;
        }
    }
}
.assigneeOption {
    @include flexbox($display: flex, $alignItems: center);
    img {
        width: 30px;
        height: 30px;
        border-radius: 100px;
        object-fit: cover;
        margin-right: 6px;
    }
    font-size: 14px;
}
.timelineItem {
    @include flexbox($display: flex, $columnGap: 20px);
    color: $black3;
    font-size: 13px;
    margin-top: 4px;
}