.vaultCard {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    max-height: 200px;
    background-color: white;
}
.vaultCardPreview {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.fileRow {
    // @include flexbox($display: flex, $direction: row, $rowGap: 20px);
    // flex-wrap: wrap;
    @include gridbox($display: grid, $justifyContent: center, $template: repeat(5, 1fr), $gap: 20px);
}