.wall_container {
    @include gridbox($display: grid, $template: 2fr 1fr, $justifyContent: space-between, $gap: 30px);
    padding-top: 0px;
}
.wall_left_container {
    @include flexbox($display: flex, $direction: column, $rowGap: 30px);
    overflow: scroll;
    height: calc(100vh - 56px);
    padding-bottom: 20px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

//New post
.newPost {
    margin-top: 20px;
    padding: 9px 11px;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 10px);
    @include transition;
    color: $black4;
    &:hover {
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.07);
        @include transition;
    }
}
.post_modal {
    &_title {
        margin-bottom: 10px;
        font-weight: 500;
        @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 10px);
        svg {
            padding: 6px;
            font-size: 30px;
            background-color: $primary_light;
            color: $primary;
            border-radius: 100px;
        }
    }
    &_actions{
        @include flexbox($display: flex, $direction: row, $alignItems: center, $justifyContent: space-between);
        margin-top: 18px;
    }
}
.action_left {
    @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 24px);
    .actionBtn {
        padding: 9px 10px;
        border-radius: 6px;
        @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 6px);
        svg {
            font-size: 20px;
        }
        font-weight: 500;
        cursor: pointer;
    }
    .photoBtn {
        background-color: #ECF3FF;
        color: #044FEA;
    }
    .videoBtn {
        background-color: #FFEFF2;
        color: #FE4153;
    }
    .docBtn {
        background-color: #FFFBEC;
        color: #ecb100;
    }
}

//Post Card
.postCard {
    padding: 14px;
    border-radius: 8px;
    background-color: white;
    .postCard_header {
        @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 14px); 
        margin-bottom: 16px;
    }
    &_userName {
        font-weight: 600;
        margin-bottom: 4px;
    }
    &_postTime {
        color: $black3;
        font-size: 13px;
        @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 5px);
    }
    &_cardFooter {
        margin-top: 14px;
        padding-top: 8px;
        border-top: 1px solid #e2e2e2;
        @include flexbox($display: flex, $direction: row, $alignItems: center, $justifyContent: space-between);
        &_reactBtn {
            padding: 7px 14px;
            @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 6px);
            cursor: pointer;
            color: $black2;
        }
        &_shareBtn {
            padding: 7px 14px;
            @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 6px);
            border-radius: 6px;
            cursor: pointer;
            color: $black2;
            @include transition;
            &:hover {
                background-color: $primary;
                color: white;
                @include transition;
            }
        }
    }
}
.emojiRow {
    @include flexbox($display: flex, $direction: row, $alignItems: center, $columnGap: 14px);
    &_emoji {
        height: 24px;
        @include transition;
        &:hover {
            cursor: pointer;
            transform: scale(1.3);
            @include transition;
        }
    }
}
//Text Card
.clamp {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin-bottom: 6px;
}
.seeMore {
    color: $primary;
    font-style: italic;
    cursor: pointer;
}
//Image Card
.postImg {
    .ant-image {
        width: 100%;
        max-height: 400px;
        border-radius: 8px;
        overflow: hidden;
        img {
            max-height: 400px;
            min-height: 300px;
            width: 100%;
            object-fit: cover;
        }
    }
}
.twoImages {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
    .ant-image {
        width: 50%;
    }
}
.threeImages {
    @include flexbox($display: flex, $alignItems: center, $columnGap: 10px);
    .ant-image {
        max-height: 250px;
        img {
            max-height: 250px;
        }
    }
}
.fourImages {
    @include gridbox($display: grid, $template: 1fr 1fr, $alignItems: center, $gap: 10px);
    .ant-image {
        max-height: 250px;
        img {
            max-height: 250px;
        }
    }
    .overlayImg {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        max-height: 100px;
        min-height: 250px;
    }
    .imageLength {
        position: absolute;
        z-index: 3;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.55);
        color: white;
        font-size: 22px;
        font-weight: 600;
        @include flexbox($display: flex, $alignItems: center, $justifyContent: center);
        cursor: pointer;
        @include transition;
        &:hover {
            background: rgba(0, 0, 0, 0.75);
            @include transition;
        }
    }
}
//Attachment
.attachment_container {
    margin-top: 10px;
    @include flexbox($display: flex, $alignItems: center, $justifyContent: space-between);
    padding: 14px 16px;
    background-color: $primary_light;
    border-radius: 8px;
    border: solid 2px $primary_light2;
    border-style: dashed;
    color: $primary;
    cursor: pointer;
    @include transition;
    &:hover {
        background-color: #e6e8ff;
        @include transition;
    }
    svg {
        height: 32px;
        width: 32px;
    }
    .attachment_left {
        @include flexbox($display: flex, $alignItems: center, $columnGap: 12px);
        .fileData {
            @include flexbox($display: flex, $direction: column, $rowGap: 2px);
            .fileName {
                font-weight: 500;
            }
            .fileSize {
                opacity: 0.8;
                font-size: 13px;
            }
        }
    }
    .attachment_right {
        svg {
            height: 20px;
            width: 20px;
        }
    }
}